@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

.active {
    @apply bg-slate-400
}

.bg-primary-active {
    background-color: #334236;
}

.bg-blur {
    background-color: rgba(51, 66, 54, 0.6);
    backdrop-filter: blur(10px);
}

.hero-container {
    @apply pt-40 pb-20;
}  

.hero-title{
    @apply font-fairplay text-[80px] text-white text-center font-bold;
}

.hero-subtitle {
    @apply text-center text-white font-poppins mt-10 text-lg w-1/2 mx-auto;
}
@keyframes color-move {
    0% { background-position: 0 0; }
    40% { background-position: 50% 0; } 
    60% { background-position: 100% 0}
    80% { background-position: 50% 0}
    100% { background-position: 0 0}
  }
  
.bganim {
    background: linear-gradient(60deg, rgb(8, 112, 14,30), rgba(40,59,49, 30));
    animation: color-move 10s linear infinite;
    background-size: 300% 100%;
}
  
  